.order-component_header {
    color: #A6A5C5;
    background: #100F31;
    min-height: 4.5rem;
    max-height: 4.5rem;
}

.order-component_logo {
    min-height: 13rem;
    max-height: 13rem;
    height: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.order-component_img {
    max-width: 10rem;
    max-height: 10rem;
    min-width: 10rem;
    min-height: 10rem
}

.address-component {
    min-height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.successful-component {
    margin: 50px auto;
    height: 130px;
    width: 130px;
    background-color: #02B4EB;
    border-radius: 50%;
    border: 20px #CCF0FB solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./../../../../public/images/ok.png');
    background-repeat: no-repeat;
    background-position: center;
}