.checkout-form {
  margin: 30px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 5px;
  max-width: 550px;
  min-width: 550px;
  background: rgba(0, 0, 0, 0.7);
}


body {
  background-image: url(./images/casino-900x600.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}